@import 'reset', 'typography';

.cursor-pointer,
.pointer {
  cursor: pointer;
}

.txxx_loader {
  width: 128px;
  height: 128px;
  border: 8px solid;
  border-color: var(--purple) transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: txxx_rotation 1s linear infinite;
}

@keyframes txxx_rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mb-35 {
  margin-bottom: 35px !important;
}

.app___loader {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 100;

  &__img {
    max-width: 360px;
  }
}

.break-word {
  word-wrap: break-word;
}
