* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  color: inherit;
  font-size: inherit;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 1rem !important; // 16px
  font-family: 'Articulat-Regular', sans-serif !important;
  background-color: $background-color;
}

#__next {
  height: 100%;
}

button {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

select {
  border-radius: 10px !important;
}

.form-control,
input,
select {
  outline: none;
  border-radius: 10px;
  border: 1px solid rgba($border-color, 0.3);

  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
    border: 1px solid rgba($border-color, 0.3);
  }

  &:disabled {
    border: none !important;
    cursor: not-allowed;
  }
}

.btn {
  &:focus,
  &:active,
  &:visited,
  &:active:focus,
  &:focus-within,
  &:focus-visible {
    outline: none;
    box-shadow: none;
  }
}

.form-select:disabled {
  background-color: $background-color !important;
  border: none !important;
  cursor: not-allowed;
}

select {
  &:focus,
  &:active,
  &:visited,
  &:active:focus,
  &:focus-within,
  &:focus-visible {
    outline: none;
    box-shadow: none;
  }
}

.spinner-border {
  width: 1.45rem;
  height: 1.45rem;
  border: 0.15em solid currentColor;
  border-right-color: transparent;
}

// scrollbar reset starts
.scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  /* background: #d3d3d3; */
  background-color: transparent;
  height: 4px;
  border-radius: 4px;
  border-bottom-right-radius: 0;
}

.scrollbar.show::-webkit-scrollbar-thumb {
  background: #d3d3d3;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d3d3d3;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  transition-delay: 0.15s;
}
// scrollbar reset ends

hr {
  margin: 1rem 0;
  background-color: var(--gray-300);
  opacity: 1;
}

.form-check-label {
  @extend .Articulat-Semibold;

  color: var(--gray-400);
  cursor: pointer;
}

.form-check-input {
  cursor: pointer;

  &:checked {
    background-color: var(--red);
    border-color: var(--red);
  }
}
hr {
  border-top: #dadada solid 0.8px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

// input:-webkit-autofill {
//   -webkit-text-fill-color: rgb(69, 69, 69);
//   -webkit-box-shadow: 0 0 0px 1000px white  inset; 
// }
