.app__campaigns {
  &__table__data {
    word-wrap: break-word;
    &__link {
      background-color: var(--red);
    }

    &__link__mobile {
      color: #fff;
      text-decoration: none;
    }
    &__button {
      background-color: var(--red) !important;
      color: #fff;
      border: none;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        background-color: var(--red);
        color: #fff;
        border: none;
      }
    }
  }
  &__modal {
    &__header {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    &__body {
      color: var(--sm-text);
      font-size: 14px;
    }
  }
  &__details {
    &__link {
      color: var(--red);
      text-decoration: none;
    }
  }
}

.table__person__img {
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  border: 1px solid #98a2b3;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}
.app_dispute {
  background-color: #dadada40;
  border-radius: 15px;
  padding: 40px 30px;

  &_title {
    font-family: Articulat-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    color: #00000099;
    white-space: nowrap;
  }
  &_value {
    font-family: Articulat-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    color: #000000E8;
    word-break: break-word;
  }
}
