.profile {
  &__container {
    padding: 2rem 1rem;
    margin: 0 2rem;
    background-color: #ffffff;
    border-radius: 0.75rem;

    @include screen('sm') {
      padding: 0.22rem 0.2rem;
      margin: 10px;
    }
  }

  &__details {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-between;
    padding-left: 2.5rem;
    margin: 2rem 0;
    width: 100%;
    max-width: 65%;

    @include screen('xl') {
      max-width: 65%;
    }

    @include screen('lg') {
      max-width: 85%;
    }

    @include screen('md') {
      flex-direction: column;
      max-width: 85%;
       margin: 0;
    }

    @include screen('sm') {
      max-width: 100%;
      padding-left: 0;
      padding: 0 20px;
    }

    &__name {
      min-width: max-content;
      text-align: center;
    }

    &__img {
      width: 80px;

      @include screen('md') {
        width: 40px;
      }

      &__con {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        gap: 10px;

        @include screen('md') {
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
    // max-width: 20rem;

    &-group {
      display: flex;
      gap: 0.5rem;

      &__button {
        flex: 1;
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
        border: 1px solid transparent;
        border-radius: 0.375rem;
        cursor: pointer;
      }
    }
  }
}
