@import "../../assets//styles/main.scss";

.app__auth {
  width: 100dvw;
  height: 100dvh;
  background-color: #f5f5f5;

  @include screen('sm') {
    background-color: #ffffff;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    @include screen('sm') {
      justify-content: start;
      align-items: start;
    }

    &__shadow {
      box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
      padding: 20px;
      border-radius: 12px;
      background-color: #ffffff;

      @include screen('sm') {
        box-shadow: none;
        width: 100%;
        height: 100%;
        margin-top: 50px;
      }
    }

    &__links {
      color: #339cdc;
      font-family: Formula-Condensed-Bold;
      text-decoration: none;
      letter-spacing: 1.2px;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}
