.user-list-filter {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 100%;
  width: 500px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__close {
    cursor: pointer;
    align-self: center;
  }

  &__content {
    display: flex;
    overflow: auto;
    flex-direction: column;
    max-height: 400px;
  }
}

.redirect__filter__container {
  background: rgba(0, 0, 0, 0.05);
  z-index: 40;
  position: fixed;
  inset: 0px;

  &__wrapper {
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
      0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
      var(--tw-shadow);
    top: 2.5rem;
    right: 0px;
    z-index: 50;
  }
}
