.app__auth {
  &__input_con {
    margin-bottom: 8px;

    &__error{
      @include screen('sm'){
        font-size: 11px;
      }
    }

    &_select {
      background-color: #eaecf0;
      border: 1px solid transparent;
      border-radius: 8px;

      font-weight: 700;
      font-size: 16px;
      line-height: initial;
      letter-spacing: -0.015em;
      color: #667085;
      height: 50px;
    }

    > label {
      font-weight: 400;
      font-size: 14px;
      line-height: 10px;
      color: #344054;
    }

    > div > input {
      @extend .app__auth__input_con_select;

      &:placeholder-shown,
      &:not(:placeholder-shown) {
        color: #98a2b3;
      }

      &::-webkit-input-placeholder {
        color: #98a2b3;
      }

      &:-moz-placeholder {
        color: #98a2b3;
      }

      &:active,
      &:focus {
        background-color: #eaecf0;
        border: 1px solid rgba(48, 48, 48, 0.3);
      }
    }

    svg.lock {
      position: absolute;
      right: 10px;
      top: 18px;
    }

    svg.help {
      position: absolute;
      right: 10px;
      top: 18px;
    }
  }

  &__button_con {
    min-height: 50px;
    width: 100%;
    background-color: var(--red);
    border-radius: 8px;
    color: var(--brand-2);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: var(--brand-2);
    }

    &.btn_outline {
      background-color: transparent;
      border-color: var(--red);
      color: var(--red);

      &:disabled {
        @extend .btn_outline;

        opacity: 0.25;
      }

      &.btn_pink {
        background-color: transparent;
        border-color: var(--pink);
        color: var(--pink);
      }

      &.btn_success {
        background-color: transparent;
        border-color: var(--success);
        color: var(--success);
      }
    }

    &.btn_google {
      background-color: transparent;
      border-color: #d0d5dd;
      color: #344054;
    }

    &.btn_facebook {
      background-color: #1877f2;
      border-color: #1877f2;
      color: #fff;
    }

    &:disabled {
      background-color: #d0d5dd;
      color: var(--white);
    }

    &.btn_size_md {
      min-height: 43px;
    }
  }

  &__input__otp {
    input {
      border: 1px solid var(--gray-300);
      box-shadow: var(--shadow-xs);
      border-radius: 8px;
      color: var(--gray-900);
      height: 50px;
      width: 50px !important;
    }

    &__con {
      gap: 12px;
    }
  }
}

.app__text_area {
  background-color: transparent;
  border: 1px solid var(--brand-2);
  border-radius: 25px;
  color: var(--brand-2);
  height: 50px;
  margin-right: 20px;
  min-width: 230px;
  padding-left: 15px;

  height: initial !important;
  resize: none !important;
}

.form-select.app_select {
  color: var(--gray-500);

  &:active,
  &:focus {
    border-color: #ced4da;
    box-shadow: none;
  }
}

.app_search_dropdown__ul {
  background-color: white;
  border-radius: 0 0 8px 8px;
  list-style-type: none;
  margin: 0;
  max-height: 300px;
  overflow-y: auto;
  padding: 8px 0;
  position: absolute;
  transform: scale(0);
  width: 100%;
  z-index: 2;

  &.show {
    transform: scale(1);
  }

  &__li {
    border-bottom: 1px solid #eee;
    cursor: pointer;
    padding: 6px 8px;

    &:last-child {
      border: none;
    }
  }
}
