.app_modal_notification {
  .modal-content {
    border-radius: 20px;
  }

  .modal-header {
    border: none;

    .btn-close:focus {
      box-shadow: none;
      outline: none;
    }
  }

  .modal-body {
    text-align: center;
    padding-bottom: 4rem;

    svg {
      margin-bottom: 28px;
    }
  }

  &__h4 {
    font-family: 'Articulat-Semibold';
    font-size: 28px;
    text-align: center;
    color: var(--red);
    margin-bottom: 28px;
  }

  &__p {
    font-family: 'Articulat-Regular';
    font-size: 20px;
    text-align: center;
    color: var(--gray-600);
  }
}
