.page-item.active .page-link {
  background-color: var(--red);
  color: #ffffff;
  border-color: var(--red);
  border-radius: 100%;
  margin: 0 5px;
  height: 35px;
  width: 35px;
  text-align: center;
}

.page-link {
  background: #fff;
  color: var(--red);
  border: #fff;
  margin: 0 5px;
  height: 35px;
  width: 35px;
  text-align: center;
  border-radius: 100%;

  &:hover {
    color: var(--brand);
    background: var(--red);
  }
}

.page-item.disabled .page-link {
  background: #fff;
  color: var(--gray);
  border: #fff;
}
