@import "../../assets/styles/main.scss";

.app__auth {
  &__input_con {
    margin-bottom: 32px;

    &__error {
      @include screen("sm") {
        font-size: 11px;
      }
    }

    &_select {
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 8px;

      font-weight: 700;
      font-size: 16px;
      line-height: initial;
      letter-spacing: -0.015em;
      color:  #1f2937;
      height: 50px;
    }

    > label {
      font-weight: 400;
      font-size: 14px;
      line-height: 10px;
      color: #344054;
    }

    > div > input {
      @extend .app__auth__input_con_select;

      &:placeholder-shown,
      &:not(:placeholder-shown) {
        color: #1f2937;
      }

      &::-webkit-input-placeholder {
        color: #1f2937;
      }

      &:-moz-placeholder {
        color: #1f2937;
      }

      &:active,
      &:focus {
        background-color: transparent;
        border: 1px solid #9ca3af;
      }
    }

    svg.lock {
      position: absolute;
      right: 10px;
      top: 18px;
      cursor: pointer;
    }

    svg.help {
      position: absolute;
      right: 10px;
      top: 18px;
      cursor: pointer;
    }
  }

  &__button_con {
    min-height: 50px;
    width: 100%;
    background-color: var(--red);
    border-radius: 8px;
    color: var(--brand-2);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: var(--brand-2);
    }

    &.btn_outline {
      background-color: transparent;
      border-color: var(--red);
      color: var(--red);

      &:disabled {
        @extend .btn_outline;

        opacity: 0.25;
      }

      &.btn_pink {
        background-color: transparent;
        border-color: var(--pink);
        color: var(--pink);
      }

      &.btn_success {
        background-color: transparent;
        border-color: var(--success);
        color: var(--success);
      }
    }

    &.btn_google {
      background-color: transparent;
      border-color: #d0d5dd;
      color: #344054;
    }

    &.btn_facebook {
      background-color: #1877f2;
      border-color: #1877f2;
      color: #fff;
    }

    &:disabled {
      background-color: #d0d5dd;
      color: var(--white);
    }

    &.btn_size_md {
      min-height: 43px;
    }
  }

  &__input__otp {
    input {
      border: 1px solid var(--gray-300);
      box-shadow: var(--shadow-xs);
      border-radius: 8px;
      color: var(--gray-900);
      height: 50px;
      width: 50px !important;
    }

    &__con {
      gap: 12px;
    }
  }
}

.app__text_area {
  background-color: transparent;
  border: 1px solid var(--brand-2);
  border-radius: 25px;
  color: var(--brand-2);
  height: 50px;
  margin-right: 20px;
  min-width: 230px;
  padding-left: 15px;

  height: initial !important;
  resize: none !important;
}

.form-select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-select.app_select {
  color: var(--gray-500);

  &:active,
  &:focus {
    border-color: #ced4da;
    box-shadow: none;
  }
}

.app_search_dropdown__ul {
  background-color: white;
  border-radius: 0 0 8px 8px;
  list-style-type: none;
  margin: 0;
  max-height: 300px;
  overflow-y: auto;
  padding: 8px 0;
  position: absolute;
  transform: scale(0);
  width: 100%;
  z-index: 2;

  &.show {
    transform: scale(1);
  }

  &__li {
    border-bottom: 1px solid #eee;
    cursor: pointer;
    padding: 6px 8px;

    &:last-child {
      border: none;
    }
  }
}

.app_admin_connect__search {
  display: flex;
  justify-content: flex-end;

  &__input {
    // width: 35%;
    margin-bottom: 10px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input[type="checkbox"] {
  display: none;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}

.slider:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  top: 3px;
  left: 4px;
  transition: 0.4s;
}

input[type="checkbox"]:checked + .slider {
  background-color: #8f0dcc;
}

input[type="checkbox"]:checked + .slider:before {
  transform: translateX(16px);
}
