$black: #000;
$white: #fff;

$background-color: #ffffff;
$border-color: rgba(48, 48, 48, 0.1);

.tx_brand {
  color: var(--brand) !important;
}

.tx_blue {
  color: var(--blue) !important;
}

.tx_pink {
  color: var(--sm-text) !important;
}

.tx_red {
  color: var(--red) !important;
}
