@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --red: #A31212;
  --brand: #040622;
  --gray: #9f9f9f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --red: #A31212;
    --brand: #040622;
    --gray: #9f9f9f;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  color: inherit;
  font-size: inherit;
  scroll-behavior: smooth;
}

#__next {
  height: 100%;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

select {
  border-radius: 10px !important;
}

.form-control,
input,
select {
  outline: none;
  border-radius: 10px;
  border: 1px solid rgba(var(--border-color), 0.3);
}

.form-control:focus,
.form-control:active,
input:focus,
input:active,
select:focus,
select:active {
  outline: none;
  box-shadow: none;
  border: 1px solid rgba(var(color--border-color), 0.3);
}

.form-control:disabled,
input:disabled,
select:disabled {
  border: none !important;
  cursor: not-allowed;
}

.btn:focus,
.btn:active,
.btn:visited,
.btn:active:focus,
.btn:focus-within,
.btn:focus-visible {
  outline: none;
  box-shadow: none;
}

.form-select:disabled {
  background-color: var(--background) !important;
  border: none !important;
  cursor: not-allowed;
}

select:focus,
select:active,
select:visited,
select:active:focus,
select:focus-within,
select:focus-visible {
  outline: none;
  box-shadow: none;
}

.spinner-border {
  width: 1.45rem;
  height: 1.45rem;
  border: 0.15em solid currentColor;
  border-right-color: transparent;
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  height: 4px;
  border-radius: 4px;
  border-bottom-right-radius: 0;
}

.scrollbar.show::-webkit-scrollbar-thumb {
  background: #d3d3d3;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d3d3d3;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  transition-delay: 0.15s;
}

hr {
  margin: 1rem 0;
  background-color: var(--gray-300);
  opacity: 1;
}

hr {
  border-top: #dadada solid 0.8px;
}

.form-check-label {
  font-family: "Articulat-Semibold";
  color: var(--gray-400);
  cursor: pointer;
}

.form-check-input {
  cursor: pointer;
}

.form-check-input:checked {
  background-color: var(--red);
  border-color: var(--red);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}